@model MyCaseGuide.Models.Invoice

@{
    ViewBag.Title = "Details";
}

<h2>Invoice Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MyCase.CaseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MyCase.CaseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FeeStructure)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FeeStructure)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalAmountDue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalAmountDue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnpaidBalance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnpaidBalance)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.InvoiceId }) @*|
    @Html.ActionLink("Back to List", "Index")*@
</p>
