@model MyCaseGuide.Models.MyCase

@{
    ViewBag.Title = "Details";
}

<h2>Case Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Client.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StaffId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StaffId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CaseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CaseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CaseNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CaseNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Opened)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Opened)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PracticeArea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PracticeArea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CaseStage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CaseStage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StatuteOfLimitation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatuteOfLimitation)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MyCaseId }) @*|
    @Html.ActionLink("Back to List", "Index")*@
</p>
