@model IEnumerable<MyCaseGuide.Models.MyCase>

@{
    ViewBag.Title = "Index";
}

<h2>List of Cases</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Client.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StaffId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CaseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CaseNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Opened)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PracticeArea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CaseStage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StatuteOfLimitation)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Client.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StaffId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CaseName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CaseNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Opened)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PracticeArea)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CaseStage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StatuteOfLimitation)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MyCaseId }) |
            @Html.ActionLink("Details", "Details", new { id=item.MyCaseId }) @*|
            @Html.ActionLink("Delete", "Delete", new { id=item.MyCaseId })*@
        </td>
    </tr>
}

</table>
